<div id="categories">
	<%= render 'categories/list' %>
	<ul>
		<li><%= link_to "Favorites", '#' %></li>
	</ul>
	<ul>
		<li><%= link_to "Log Out", '#' %></li>
	</ul>
</div>

<div id="aboutReservation"><div>

</div>